
#about .container-fluid {
  display: flex;
  min-height: 100%;
  height: 100vh;
  align-items: flex-end;
}
#about .team {
    background-color: #f0f2f4;
    padding: 25px 0
}

@media (min-width:992px) {
    #about .team {
        padding: 50px 0
    }
}

#about .team .container {
    overflow: hidden
}

@media (min-width:992px) {
    #about .team .container {
        max-width: 850px
    }
}

#about .team.board-director {
    background-color: #fff
}

#about .team h2 {
    color: #4a66b0;
    font-family: Roboto Slab;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -.01em;
    margin-bottom: 25px
}

@media (min-width:992px) {
    #about .team h2 {
        font-size: 36px;
        line-height: 38px;
        margin: 70px auto
    }
}

#about .team .media {
    padding-bottom: 25px
}

#about .team .media h5 {
    font-family: Roboto Slab;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -.16px
}

@media (min-width:992px) {
    #about .team .media h5 {
        margin: 0
    }
}

#about .team .media span {
    font-size: 16px;
    font-family: Roboto Slab;
    color: #4a66b0;
    display: block;
    letter-spacing: -.01em
}

#about .team .media p {
    font-family: Roboto Lt;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -.16px;
    margin: 0
}

@media (min-width:992px) {
    #about .team .media p {
        font-size: 14px;
        line-height: 20px
    }
}

#about .team .media img {
    border: 1px solid #61e0e4;
    padding: 10px;
    max-width: 90px;
    margin-right: 11px
}

@media (min-width:992px) {
    #about .team .media img {
        max-width: 150px
    }
}

#about .team .media h6 {
    font-family: Roboto Lt;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #999a9a
}

#about .team .media .btn-linkedin {
    background-color: #1580b3;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    line-height: 34px;
    margin-top: 15px;
    text-align: center;
    width: 34px
}

.modal .btn-linkedin {
    background-color: #1580b3;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    margin-top: 15px;
    text-align: center;
    width: 30px;
}

#about .team .media .btn-mayo img {
    border: 0;
    margin: 0;
    max-width: 40px;
    padding: 0;
}

#about .team.licenses {
    background-color: #f7f7f7
}

#about .team.licenses h3 {
    color: #4a66b0;
    font-family: Roboto Slab;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -.01em;
    margin-bottom: 25px
}

@media (min-width:992px) {
    #about .team.licenses h3 {
        font-size: 21px;
        line-height: 23px;
        padding-left: 20px
    }
}

#about .team.licenses .card {
    background-color: transparent;
    border-color: transparent
}

#about .team.licenses .card .media img {
    border: 0;
    width: 30px;
    padding: 0;
    margin: 0 15px
}

#about .team.affiliations {
    background-color: #f0f0f0
}

#about .team.affiliations h3 {
    color: #4a66b0;
    font-family: Roboto Slab;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -.01em;
    margin-bottom: 25px
}

@media (min-width:992px) {
    #about .team.affiliations h3 {
        font-size: 21px;
        line-height: 23px;
        padding-left: 20px
    }
}

#about .team.affiliations .card {
    background-color: transparent;
    border-color: transparent
}

#about .team.affiliations .card img {
    max-width: 200px
}

#about header {
    background: url(../images/about-header-md.jpg) no-repeat 0 transparent;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:992px) {
    #about header {
        display: block
    }
}

#about header .content {
    max-width: 640px;
    text-align: center;
    width: 100%;
    padding-bottom: 83px;
}

@media (min-width:992px) {
    #about header .content {
        text-align: left
    }
}

#about header .content h1 {
    font-size: 48px !important;
    line-height: 50px !important;
    font-weight: 300 !important;
    font-family: Roboto Slab !important;
    color: #4a66b0;
    letter-spacing: -.01em
}

@media (min-width:992px) {
    #about header .content h1 {
        font-size: 64px;
        line-height: 68px
    }
}

#about header .content h4 {
    color: #000;
    font-family: Roboto Slab;
    font-weight: 300;
    letter-spacing: -.01em
}

@media (min-width:992px) {
    #about header .content h4 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 16px
    }
}

#about header .content p {
    color: #000;
    font-family: Roboto Slab;
    letter-spacing: -.01em;
    font-size: 13px;
    line-height: 15px
}

@media (min-width:992px) {
  #about header .content p {
    font-size: 14px;
    line-height: 16px
    font-family: Roboto;
  }
}