footer {
    background-color: transparent;
    bottom: 0;
    height: 35px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 100
}

footer ul{
  display: flex;
  justify-content: space-evenly;
}
footer ul li a {
    color: #414141;
    line-height: 45px;
    font-size: 11px
}

footer ul li.social-media a {
    font-size: 14px
}

@media (min-width:992px) {
  footer ul{
    justify-content: flex-end;
  }
  footer ul li a {
      font-size: 12px
  }
  footer ul li.social-media a {
      font-size: 18px
  }
}