section#maximizing-weight-loss{
  height: auto;
  background: #efeff1;
}
#maximizing-weight-loss .middle-up{
  padding-top: 50px;
}
#maximizing-weight-loss .middle-up .content h1{
  font-size: 36px !important;
  text-align: center;
  line-height: 50px !important;
  font-weight: 300 !important;
  font-family: Roboto Slab !important;
  color: #4a66b0;
}
#maximizing-weight-loss .middle-up .content p{
  color: #1E4484;
  font-family: Roboto Lt;
  font-size: 2vh;
  font-weight: 300;
  line-height: 100%;
}
#maximizing-weight-loss .middle-up .content p small{
  color: #1E4484;
  font-family: Roboto Lt;
  font-size: 1.8vh;
  font-weight: 300;
  line-height: 100%;
}
#maximizing-weight-loss .middle-up .bg-gradient{
  padding: 0 7%;
}
#maximizing-weight-loss .middle-down .content h1{
  font-size: 48px !important;
  line-height: 50px !important;
  font-weight: 300 !important;
  font-family: Roboto Slab !important;
  color: #4a66b0;
}
#maximizing-weight-loss .middle-down .content p{
  color: #1E4484;
  font-family: Roboto Lt;
  font-size: 2vh;
  font-weight: 300;
  line-height: 100%;
}
#maximizing-weight-loss .middle-down .content p a{
  color: #1E4484;
  text-decoration: underline;
}
#maximizing-weight-loss a:focus {
  outline-color: transparent;
}
#maximizing-weight-loss .middle-down .content .items-phenotype h5{
  font-family: Roboto Slab;
  color: #1E4484;
  font-size: 2.2vh;
}
#maximizing-weight-loss .middle-down .content .items-phenotype p{
  font-family: Roboto Lt;
  color: #1E4484;
  font-size: 2vh;
  margin-bottom: 0.5rem;
}
#maximizing-weight-loss .middle-down .content .items-phenotype .icon-phenotype{
  fill: #1e4484;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;    
  transition: all 1s;
  height: 100px !important;
  width: 100px !important;
}
#maximizing-weight-loss .middle-down .content .items-phenotype .icon-phenotype:hover{
  fill: #fff;
  background-color: #1e4484;
}
#maximizing-weight-loss .middle-down .content .items-phenotype .icon-phenotype a{
  color: #1e4484;
}

.modales-phenotype .modal-header span{
  color: #1e4484;
}
.modales-phenotype .modal-body h5{
  color: #1e4484;
  font-family: Roboto Slab;
  font-size: 3vh;
}
.modales-phenotype .modal-body p{
  color: #1e4484;
  font-family: Roboto Lt;
  font-size: 2vh;
}

/* RESOLUTION 992 DOWN*/
@media (max-width: 991.98px){
  #maximizing-weight-loss .middle-up,
  #maximizing-weight-loss .middle-down{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
/* RESOLUTION 992 UP*/
@media (max-width: 992px){
  section#maximizing-weight-loss{
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px){
  #maximizing-weight-loss{
    padding-bottom: 50px;
  }
  section#maximizing-weight-loss{
    height: 100%;
    background: #fff;
  }
  #maximizing-weight-loss .middle-up,
  #maximizing-weight-loss .middle-down{
    height: 50%;
  }
  #maximizing-weight-loss .middle-up .bg-gradient{
    background: transparent;
  }

  #maximizing-weight-loss .pre-bg-img{
    height: 50%;
    /*background: linear-gradient(to top, #d4d3d8  0%,  #f1f1f3 100%);*/
    background: linear-gradient(to bottom, rgba(235, 235, 240, 1)80%, rgba(255, 255, 255, 1));
  }
  #maximizing-weight-loss .center-xy{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* RESOLUTION 1024 UP*/
@media (min-width: 1024px){
  #maximizing-weight-loss .middle-up .content h1{
    font-size: 48px !important;
    text-align: left;
    padding: 15px 0;
  }

  #maximizing-weight-loss .bg-img{
    /*background: linear-gradient(to bottom, rgba(235, 235, 240, 1)80%, rgba(255, 255, 255, 1));*/
    background-repeat: no-repeat;
    background-position: right;
    /*background-size: 50% 100%;*/
    background-image: url(../images/background/maximizing-header-lg.jpg);
    background-size: 50% auto;
  }
}
/* RESOLUTION 1200 UP*/
@media (min-width: 1200px){

}
/* RESOLUTION 1440 UP*/
@media (min-width: 1440px){

}
/* RESOLUTION 1980 UP*/
@media (min-width: 1980px){

}