nav#desktop .container{
  max-width: 1140px;
}
nav#desktop {
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 6000;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  background-color: transparent;
}

nav#desktop .menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#desktop .logo {
  display: inline-block;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin: 25px 0;
}

nav#desktop .logo img {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  height: 50px;
  padding: 5px 0;
}

nav#desktop.collapsed {
  height: 50px;
  background-color: #fff;
}
nav#desktop.collapsed .logo {
  margin: 5px 0;
}

nav#desktop.collapsed .logo img{
  height: 40px;
}

nav#desktop.collapsed .menu li {
  margin: 0;
}
nav#desktop.collapsed .menu li:before {
  top: 15px!important;
}
nav#desktop ul {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  list-style: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: 100000;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;

  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
}

nav#desktop ul.menu-center{
  text-align: center;
}

nav#desktop ul li {
  display: inline-block;
  padding: 0 10px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
nav#desktop ul li a {
  color: #525e86;
}

nav#desktop ul.right li {
  padding: 0;
}

nav#desktop ul.right>li.bar:after {
  content: '|';
  padding: 0 .5rem;
  display: inline-block;
}
nav#desktop ul li a {
  text-decoration: none !important;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -.01em;
}
nav#desktop .btn-login{
  color: #fff;
  border: 0;
  font-weight: 400;
}

nav#desktop .btn-login:focus{
  box-shadow: none;
}
/* MOBILE */
#header{
  background: #fff;
  height: 65px;
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  padding: 0 5%;
  align-items: center;
}

#header > .container{
  z-index: 3;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header img{
  height: 40px;
}

nav.header{
  background-color: rgba(74, 102, 176, .9);
  position: fixed;
  right: 0;
  top: -100%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92%;
  display: flex;
  z-index: 2;
  align-items: center;
  transition: all 1.5s ease-out 0s;
}

nav.header.active{
  top: 65px;
}

nav.header .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

nav.header ul{
  padding: 0;
}

nav.header ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
}
nav.header ul li {
  text-align: center;
  list-style: none;
  line-height: 50px;
  padding: 0px 5px;
}

nav.header ul.footer{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
nav.header ul.footer li{
  padding: 0;
  margin: 0;
}
nav.header ul.footer li a{
  font-size: 11px;
}

/* Boton hamburguesa*/
#header .opener{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5%;
  top: 13px;
  cursor: pointer;
  z-index: 10;
  cursor: pointer;
}

#header .opener .opener-inner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
}

#header .opener .opener-inner .toggle {
  vertical-align: middle;
  opacity: 1;
  z-index: 1;
  -webkit-transition: top .2s;
  transition: top .2s
}

#header .opener .opener-inner .toggle .bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0
}

#header .opener .opener-inner .toggle .bg em {
  background-color: #4a66b0;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  -webkit-transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
  -webkit-transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -moz-transform .2s 0s;
  -webkit-transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s, -webkit-transform .2s 0s
}

#header .opener .opener-inner .toggle .bg em:first-child {
  top: 0
}

#header .opener .opener-inner .toggle .bg em:last-child {
  top: 20px
}

/*Efecto equi y hamburguesa*/
#header .opener.active em {
  left: 0;
  opacity: 0;
  -webkit-transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
  -webkit-transition: background .2s, top .2s, left .2s, opacity .2s, -moz-transform .2s .25s;
  -webkit-transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s
}

#header .opener.active em:first-child {
  left: 0!important;
  opacity: 1;
  top: 10px!important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

#header .opener.active em:last-child {
  left: 0!important;
  opacity: 1;
  top: 10px!important;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}