nav {
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 6000;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  background-color: transparent;
}

nav .logo {
  display: inline-block;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin: 30px auto;
}

nav .logo img {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  height: 40px;
  padding: 10px 0;
}

@media (min-width:992px) {
  nav.collapsed {
    height: 50px;
    background-color: #fff;
  }
  nav.collapsed .logo {
    margin: 5px auto!important;
  }
  nav.collapsed .menu li {
    margin: 0;
  }
  nav.collapsed .menu li:before {
    top: 15px!important;
  }

  nav .menu {
    margin: 0;
  }
  nav .menu ul {
    margin-bottom: 0;
  }
}

nav .menu {
    list-style: none;
    padding: 0;
    bottom: 0;
    position: relative;
    right: -100%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    width: 100%;
    z-index: 100000;
    background-color: #4a66b0;
    display: block;
    float: right;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

nav .menu>div {
    margin: auto
}

@media (min-width:992px) {
    nav .menu {
        display: block;
        height: 65px;
        background-color: transparent;
        right: 0;
        position: fixed;
        padding: 0;
        top: 0
    }
}

nav .menu ul {
    max-width: 100%;
    padding: 0
}

@media (min-width:992px) {
    nav .menu ul {
        margin-left: 0
    }
}

nav .menu ul.menu-center {
    width: 100%
}

nav .menu ul.menu-center li {
    padding: 0 5px;
    line-height: 50px
}

@media (min-width:992px) {
    nav .menu ul.menu-center li:nth-child(-n+3):after {
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        content: "";
        height: 6px;
        margin-left: 10px;
        margin-bottom: 2px;
        width: 6px
    }
    nav .menu ul.menu-center li:nth-child(4) {
        /*margin-right: 65px*/
    }
}

@media (min-width:992px) {
    nav .menu ul.right {
        float: right
    }
    nav .menu ul.right li {
        padding: 0;
        position: relative;
        margin-right: 30px
    }
    nav .menu ul.right li:before {
        background-color: #525e86;
        display: inline-block;
        content: "";
        height: 20px;
        position: absolute;
        left: -7px;
        line-height: 20px;
        top: 15px;
        width: 1px;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out
    }
}

nav .menu ul li {
    display: block;
    line-height: 50px;
    text-align: center
}

@media (min-width:992px) {
    nav .menu ul li {
        display: inline-block;
        padding: 0 10px;
        margin: 25px 0;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out
    }
}

nav .menu ul li a {
    color: #fff;
    font-family: Roboto Slab;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01em
}

@media (min-width:992px) {
    nav .menu ul li a {
        color: #525e86
    }
}

nav .menu.open {
    right: 0
}

@media (min-width:992px) {
    nav .menu .menu-center {
        position: absolute;
        text-align: center;
        width: 100%
    }
}

nav .menu .menu-close {
    position: absolute;
    top: 10px;
    right: 20px
}

@media (min-width:992px) {
    nav .menu .menu-close {
        display: none
    }
}

nav .menu .menu-close svg {
    fill: #fff;
    height: 42px
}

nav .menu-open {
    background-color: rgba(74, 102, 176, .9);
    margin: 0;
    height: 100vh;
    right: 0
}

nav .menu-open svg {
    height: 45px
}

@media (min-width:992px) {
    nav .menu-open {
        display: none
    }
}

nav .opener {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5%;
    top: 13px;
    cursor: pointer;
    z-index: 10;
    display: block
}

nav .opener .opener-inner {
    display: block;
    width: 30px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px
}

nav .opener .opener-inner .toggle {
    vertical-align: middle;
    opacity: 1;
    z-index: 1;
    -webkit-transition: top .2s;
    transition: top .2s
}

nav .opener .opener-inner .toggle .bg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

nav .opener .opener-inner .toggle .bg em {
    background-color: #4a66b0;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    -webkit-transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
    transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
    -webkit-transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -moz-transform .2s 0s;
    -webkit-transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
    transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
    transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s, -webkit-transform .2s 0s
}

nav .opener .opener-inner .toggle .bg em:first-child {
    top: 0
}

nav .opener .opener-inner .toggle .bg em:last-child {
    top: 20px
}

nav .opener.active em {
    left: 0;
    opacity: 0;
    -webkit-transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
    transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
    -webkit-transition: background .2s, top .2s, left .2s, opacity .2s, -moz-transform .2s .25s;
    -webkit-transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
    transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
    transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s
}

nav .opener.active em:first-child {
    left: 0!important;
    opacity: 1;
    top: 10px!important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

nav .opener.active em:last-child {
    left: 0!important;
    opacity: 1;
    top: 10px!important;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}