#what-others-are-saying {
  padding-top: 65px;
  background-color: #4a66b0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#what-others-are-saying .header {
  background: url(../images/bg-what.png) no-repeat 0 100% #4a66b0;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#what-others-are-saying .header h2 {
  color: #61e0e4;
  margin: 0px;
  padding: 10px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  font-family: Roboto Slab;
  letter-spacing: -.01em;
  text-align: left;
}

#what-others-are-saying .header .slick-saying{
  padding: 0 38px;
}

#what-others-are-saying .header .slick-saying .content{
  text-align: center;
}

/* IMAGEN*/
#what-others-are-saying .header .slick-saying .content img {
  -webkit-transition: all .3s ease-out .3s;
  transition: all .3s ease-out .3s;
  border: 1px solid #61e0e4;
  padding: 10px;
  max-width: 100px;
  margin: auto;
}

/* TEXTOS */
#what-others-are-saying .header .slick-saying .content h4 {
    opacity: 0;
    -webkit-transition: all .3s ease-out .5s;
    transition: all .3s ease-out .5s;
    margin-top: 15px;
    font-family: Roboto Slab;
    font-size: 15px;
    line-height: 17px;
}

#what-others-are-saying .header .slick-saying .content h5 {
    opacity: 0;
    -webkit-transition: all .3s ease-out .7s;
    transition: all .3s ease-out .7s;
    font-family: Roboto Slab;
    color: #b4b4b4;
    font-size: 13px;
    line-height: 15px;
}

#what-others-are-saying .header .slick-saying .content p {
    opacity: 0;
    -webkit-transition: all .3s ease-out .9s;
    transition: all .3s ease-out .9s;
    font-family: Roboto Slab;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.01em;
}

/* COMILLAS */
#what-others-are-saying .header .slick-saying .content .quotes {
    opacity: 0;
    -webkit-transition: all .3s ease-out 1.1s;
    transition: all .3s ease-out 1.1s;
    display: inline-block;
    font-family: Roboto Slab;
    font-weight: 100;
    color: #61e0e4;
    font-size: 45px;
    margin-bottom: -20px
}

#what-others-are-saying .header .slick-saying .content .quotes.quotes-close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -30px
}

/* FLECHAS */
#what-others-are-saying .header .arrows {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
}

#what-others-are-saying .header .arrows a {
  position: absolute;
}

#what-others-are-saying .header .arrows a svg {
  fill: #fff;
  height: 24px;
}


#what-others-are-saying .header .arrows a.arrow-left {
  left: 0;
}

#what-others-are-saying .header .arrows a.arrow-right {
  right: 0;
}

.slick-dots-container{
  margin: 0 auto;
}
/* MEDIA QUERY*/
@media (max-height: 600px){
  #what-others-are-saying .header .slick-saying .content img {
    max-width: 80px;
  }
}

@media (max-width: 575.98px){
  #what-others-are-saying .header .slick-saying .content p {
    font-size: 10px;
  }
}

/* DESKTOP */
@media (min-width:992px) {
  #what-others-are-saying{
    padding-bottom: 40px
  }
  #what-others-are-saying .header h2 {
    position: absolute;
    top: 20%;

    color: #61e0e4;
    font-size: 48px;
    line-height: 50px;
    font-weight: 300;
    font-family: Roboto Slab;
    letter-spacing: -.01em;
    text-align: left;
    margin-bottom: 20px
  } 
  /* IMAGEN*/
  #what-others-are-saying .header .slick-saying .content img {
    max-width: 172px;
  }

  /* TEXTOS */ 
  #what-others-are-saying .header .slick-saying .content h4 {
    font-size: 16px;
    line-height: 18px;
  }
  #what-others-are-saying .header .slick-saying .content h5 {
    font-size: 16px;
    line-height: 18px;
  }
  #what-others-are-saying .header .slick-saying .content p {
    font-size: 18px;
    line-height: 28px;
    margin: 0 100px;
    margin-top: 25px;
  }
  
  /* COMILLAS */
  #what-others-are-saying .header .slick-saying .content .quotes {
    font-size: 180px;
    position: absolute;
    left: 0;
    top: 50%
  }
  #what-others-are-saying .header .slick-saying .content .quotes.quotes-close {
    top: 50%;
    right: 0;
    margin-top: -100px;
    text-align: left
  }

  /* FLECHAS */
  #what-others-are-saying .header .arrows {
    left: 45px;
    right: 45px;
  }
  #what-others-are-saying .header .arrows a svg {
    height: 33px;
  }
}

#what-others-are-saying .header .slick-saying .slick-active .content .quotes,
#what-others-are-saying .header .slick-saying .slick-active .content h4,
#what-others-are-saying .header .slick-saying .slick-active .content h5,
#what-others-are-saying .header .slick-saying .slick-active .content img,
#what-others-are-saying .header .slick-saying .slick-active .content p {
  opacity: 1;
}